@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.projectpage
{
    background-color: var(--blue);
    height:110vh;
    width:100%;
    margin-top: -10px;
  
}
.cards
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 0px;
}
.nav
{
    z-index: 1000;
    position: absolute;
    width:100%;
    margin-top: 10px;
}
.card
{
    margin-top: 110px;
    height:220px;
    width:60%;
    margin-left: 20%;
    background-color: var(--light);
    border-radius: 20px;
}
.projectname
{
    font-size: 25px;
    margin-left: 2%;
    margin-top: 10px;
    color:var(--red);
    font-family: 'poppins','sans-serif';
}
h4{
    margin-left: 2%;
    margin-top: -20px;
}
.projectinfo
{
    font-family: 'poppins';
    font-size: 12px;
    margin-left: 2%;
    text-align: justify;
    margin-right: 2%;
}
.githublink
{
    font-size: 12px;
    font-family: 'poppins','sans-serif';
    margin-left: 2%;
    margin-top: 50px;
}
.Link 
{
    color:var(--red);
    text-decoration: none;
    margin-left: 2px;
}

